.element__trash-button{
	position: absolute;
	top: 18px;
	right: 15px;
	background-image: url('../../../images/trash_button.svg');
	min-width: 18px;
	min-height: 19.3px;
	background-color: transparent;
	background-size: cover;
	border: 0;
	padding: 0;

}

.element__trash-button:hover{
	opacity: 60%;
	cursor: pointer;
}
