.form__header-confirm{
	padding: 0;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;

	color: black;
	margin: 34px auto 0 36px;
	text-align: left;
}

@media screen and (max-width: 525px){
	.form__header-confirm{
		font-size: 18px;
		line-height: 22px;

		margin: 25px auto 0 auto;
		text-align: center;
	}
}