.authorization__password-input{

	padding: 0;
	padding-bottom: 13px;
	border: 0;
	border-bottom: 2px solid #CCCCCC;

	color: #CCCCCC;

	margin: 0 0 216px 0;

	width: 100%;
	max-width: 358px;
	max-height: 27px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	background-color: black;
}

.authorization__password-input::placeholder{

	color: #CCCCCC;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

}

@media screen and (max-width: 768px){
	.authorization__password-input{
		max-width: 260px;
		margin-bottom: 173px;

	}
}