.profile__add-button{
	margin: 35px 0 auto auto;
	background-image: url('../../../images/add_button.svg');
	min-width: 150px;
	min-height: 50px;
	background-size: cover;
	background-color: transparent;
	border: 0;
	padding: 0;
}

.profile__add-button:hover{
	opacity: 60%;
	cursor: pointer;
}

@media screen and (max-width: 768px){
	.profile__add-button{
		background-image: url('../../../images/add_button_mobile.svg');
		margin: 0px auto;
		min-width: 284px;
		min-height: 50px;
	}
}