.authorization__check-text_link{

	text-decoration: none;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #CCCCCC;
}

.authorization__check-text_link:hover{
	opacity:0.6;
}